//- <div class="carousel-inner">
//-   {% for item in page.slideshow %}
//-     {% if forloop.index == 1 %}
//-       <div class="item active" style="background-image: url({{ item.background_image_path }})">
//-     {% else %}
//-       <div class="item" style="background-image: url({{ item.background_image_path }})">
//-     {% endif %}
//-       <div class="container">
//-         <div class="row slide-margin">
//-           <div class="col-sm-6">
//-             <div class="carousel-content">
//-               <h1 class="animation animated-item-1">{{ item.main_heading }}</h1>
//-               <h2 class="animation animated-item-2">{{ item.sub_heading }}</h2>
//-               <a class="btn-slide animation animated-item-3" href="{{ item.read_more_link }}">Read More</a>
//-             </div>
//-           </div>
//- 
//-           <div class="col-sm-6 hidden-xs animation animated-item-4">
//-             <div class="slider-img">
//-               <img src="{{ item.pop_up_image_path }}" class="img-responsive">
//-             </div>
//-           </div>
//- 
//-         </div>
//-       </div>
//-     </div><!--/.item-->
//-   {% endfor %}
//- </div><!--/.carousel-inner-->
