main.solutions__section
  section
    h1 25/8 Solutions
    p We help your business succeed online. With a sharp web presence you'll make a great first impression with your clients and customers, answer their questions, and be available to put your best front forward at any time.
  section
    h2 Strategy
    p We focus on the industries that matter. There are many considerations that go into a marketing tool and we know what they are.
  section
    h2 Web Design
    p With your brand and our knowledge of what's possible we can forge together a fine design that represents what you have to offer.
  section
    h2 Web Development
    p We use the right tool for the right tools for the right job. With up-to-date best practices and creative minds we put it all together.
  section
    h2 Consulting
    p When you're ready to invest more in your online presence we're always available for consultation
