// colors
$color: #222;
$dark-gray: #333 !default;


// primary color palette

$black:               #000;
$red:                 #E21D22;
$grey:                #74767B;
$white:               #FFF;

// secondary color palettes
// sky color palette
$deep-blue:           #2C5697;
$sea-blue:            #0093B2;
$sky-blue:            #009CDE;
// earth color palette
$dirt:                rgb(134, 103, 97);
$grass:               #5C7F71;
$hay:                 #A09958;
$fall:                #C4622D;

// verb colors

$action-color: #477DCA !default;
$accent: $deep-blue;
