
.l-footer {
  border-top: 1px solid $white;

  //background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    margin-bottom: $base-spacing;
  }

  ul {
    @include flex-basis(13em);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $white;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $white;
    }
  }

  li h3 {
    color: $white;
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid $white;
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $white;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}


.l-footer {
  @include outer-container;
  /*.footer__branding { @include span-columns(4); }
  .footer__nav { @include span-columns(4); }
  .footer__contact { @include span-columns(4); }*/
}
